<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns="http://www.microsoft.com/xml/schema/linq">
  <Namespaces>
    <Namespace DefaultVisibility="public" Schema="http://www.aade.gr/myDATA/invoice/v1.0" Clr="www.aade.gr.myDATA.invoice.v1.0" />
    <Namespace DefaultVisibility="public" Schema="https://www.aade.gr/myDATA/incomeClassificaton/v1.0" Clr="www.aade.gr.myDATA.incomeClassificaton.v1.0" />
    <Namespace DefaultVisibility="public" Schema="https://www.aade.gr/myDATA/expensesClassificaton/v1.0" Clr="www.aade.gr.myDATA.expensesClassificaton.v1.0" />
  </Namespaces>
  <Validation>
    <VerifyRequired>false</VerifyRequired>
  </Validation>
  <Transformation>
    <Deanonymize strict="false" />
  </Transformation>
</Configuration>